<nav>
    <div class="nav-wrapper black">
        <a class="brand-logo" routerLink="/">Library</a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/books" routerLinkActive="active">Books</a></li>
            <li><a routerLink="/add-book" routerLinkActive="active">Add Book</a></li>
            <li><a routerLink="/search" routerLinkActive="active">Search Book</a></li>
            <li>
                <a routerLink="/users" routerLinkActive="active">Readers</a>
            </li>
        </ul>
    </div>
</nav>
